.container {
    width: 100%;
    height: 100%;
    //background-color: rgba(230,200,200,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .layout {
    outline: 2px dashed red;
} */
.mapContainer {
    width: 600px;
    height: 900px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

}
.mapContainer2 {
    position:relative;
    top: -960px;
    width: 600px;
    height: 900px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.map1 {
    position: relative;
    z-index: 10;
    top: 60px;
    left: 120px;
    border-radius: 50px;
    width: 180px;
}
.map01 {
    position: relative;
    z-index: 10;
    top: 42px;
    left: 100px;
    border-radius: 50px;
    width: 208px;
    
}
.map2 {
    position: relative;
    z-index: 8;
    top: -190px;
    left: 206px;
    border-radius: 20px;
    width: 270px;
}
.map02 {
    position: relative;
    z-index: 12;
    top: -220px;
    left: 192px;
    border-radius: 20px;
    width: 290px;
}
.map3 {
    position: relative;
    z-index: 10;
    top: -210px;
    left: 110px;
    border-radius: 30px;
    width: 248px;
}
.map03 {
    position: relative;
    z-index: 10;
    top: -268px;
    left: 94px;
    border-radius: 30px;
    width: 296px;
}
.map4 {
    position: relative;
    z-index: 10;
    top: -226px;
    left: 50px;
    border-radius: 34px;
    width: 250px;
}
.map04 {
    position: relative;
    z-index: 10;
    top: -316px;
    left: 26px;
    border-radius: 34px;
    width: 294px;
}

.map5 {
    position: relative;
    z-index: 10;
    top: -630px;
    left: 262px;
    border-radius: 40px;
    width: 230px;
}
.map05 {
    position: relative;
    z-index: 12;
    top: -770px;
    left: 254px;
    border-radius: 40px;
    width: 250px;
}

.map6 {
    position: relative;
    z-index: 10;
    top: -564px;
    left: 80px;
    border-radius: 20px;
    width: 130px;
}
.map06 {
    position: relative;
    z-index: 12;
    top: -748px;
    left: 70px;
    border-radius: 20px;
    width: 154px;
}
.nosee {
    visibility: hidden;
}

.hover_cursor:hover {
    cursor: pointer;
}


.map_box {
    position: relative;
    width: 650px;
    left: 0px;
}

.map_title {
    height: 60px;
}

.map_title h1{
    font-family: 'star';
    font-size: 60px;
    color: #3C97A5;
    position: absolute;
    top: 120px;
    left: 70px;
}

.mark_box {
    position: absolute;
    left: -300px;
    bottom: -400px;
    width: 800px;
}